/* 浠ｇ爜鏁寸悊锛氭噿浜轰箣瀹?www.lanrenzhijia.com */
*{ margin:0; padding:0; list-style:none;}
body{ font-size:12px;}
img{ border:none;}
/*public*/
.fl{display:inline;text-decoration:none;font-size:20px;}
.fl a{color:#000000;}
.fl a:hover{color:#58D5D3}
.fr{display:inline;float:right}
.cf:after{content:"";clear:both;display:block;height:0;overflow:hidden}
.cf{zoom:1}
.pb10{padding-bottom:10px}
.mt10{margin-top:10px;font-size:17px;width: 200px;overflow: hidden;height:22px;}
/*main*/
.lanrenzhijias{background:#fff;width: 100%;/*box-shadow:0 0 10px #ccc;*/}
.lanrenzhijias .titles{height:33px;border-bottom: 3px solid #e7e7e7;padding-bottom:10px;}
.lanrenzhijias .titles h2{ font-size: 20px;font-family: "microsoft yahei";}
.lanrenzhijias .title-lists{ position: relative; top: 6px;}
.lanrenzhijias .title-lists li{font-size:20px; width: 146px; line-height: 20px; text-align: center; float: left; display: inline;font-family: sans-serif;}
.lanrenzhijias .title-lists li.on{ color: #ff6600; font-weight: bold;}
.lanrenzhijias .title-lists p{position:absolute;top:24px;left:0px;width:146px;height:7px;border-top: 3px solid #ff6600; overflow: hidden; text-align: center;}
.lanrenzhijias .title-lists b{display:inline-block;width:0;height:0;margin-top:-3px;border-style:solid dashed dashed dashed;border-width:9px;border-color: #ff6600 #fff #fff #fff;overflow: hidden;zoom: 1;font-size: 0;}


.products{ height: 380px; position: relative; overflow: hidden; display: none; margin-top: 20px;}
.products ul{ position: absolute; left: 0px;}
.product-wraps .showw{ display: block;}
.product-wraps .products li{ float: left; display: inline; margin-right: 16px;background: #f3f3f3;border: 2px solid #fafafa; transition:0.4s;-webkit-transition:0.4s;-moz-transition: 0.4s;-o-transition: 0.4s;-ms-transition: 0.4s;}
/*.product-wraps .products li.ml0{margin-left:0px;}*/
.product-wraps .products li a.imgwrap{ display: block; width: 200px; height: 113px; background: #fff; text-align:center;overflow:hidden}
.product-wraps .products li p{padding-left: 7px;color: #8EA6B4;line-height: 22px;}
.product-wraps .products li p a{ color:#666666; text-decoration: none;}
.product-wraps .products li p a:hover{ color: #ff6600; text-decoration: none;}
/* 浠ｇ爜鏁寸悊锛氭噿浜轰箣瀹?www.lanrenzhijia.com */