@model Guitar.Models.Users
@{
    ViewBag.Title = "Headimg";
    Layout = "~/Views/Shared/_UserCenter.cshtml";
}

<link href="~/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/bootstrap-3.3.7-dist/css/bootstrap-fileinput.css" rel="stylesheet" />
<script src="~/bootstrap-3.3.7-dist/js/bootstrap-fileinput.js"></script>
<link href="~/Content/amazeui.cropper.css" rel="stylesheet" />
<link href="~/Content/amazeui.min.css" rel="stylesheet" />
<link href="~/Content/custom_up_img.css" rel="stylesheet" />
<style>
      #myheadimg{
       background-color: #00a1d6;
    }
      .tou{
                width:100%;
                height: 50px;
                padding-left: 30px;
                padding-top:15px;
                border-bottom: 1px solid #ddd;
        }
        .tou span{
                border-left: #ec6690 5px solid;
                padding-left:5px;               
                color: #00a1d6;
                font-size: 18px;
                cursor: default;
        }
        .up-img-cover {width: 100px;height: 100px;}
	.up-img-cover img{width: 100%;}
    .headd{
        margin:20px 300px;
    }
</style>
<div class="tou"><span>我的头像</span></div>
@using (Html.BeginForm("SavaHead", "Users", new { area = "" }, FormMethod.Post, new { id = "", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="headd">
        <div class="form-group" id="uploadForm" enctype='multipart/form-data'>
            <div class="h4">图片预览</div>
            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                <div class="fileinput-new thumbnail" style="width: 200px;height: auto;max-height:150px;">
                    <img id='picImg' style="width: 100%;height: auto;max-height: 140px;" src="images/noimage.png" alt="" />
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                <div>
                    <span class="btn btn-primary btn-file">
                        <span class="fileinput-new">选择文件</span>
                        <span class="fileinput-exists">换一张</span>
                        <input type="file" name="Image1" id="Image1" accept="image/gif,image/jpeg,image/x-png">
                    </span>
                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput">移除</a>
                </div>
            </div>
        </div>
        <input type="submit" value="更改" class="btn btn-info btn-lg" />
    </div>
}
@*<center>
    <div class="up-img-cover" id="up-img-touch">
        <img class="am-circle" alt="点击图片上传" src="~/Images/headimg/head.jpg" data-am-popover="{content: '点击上传', trigger: 'hover focus'}">

    </div>
</center>
<div><a style="text-align: center; display: block;" id="pic"></a></div>

<!--图片上传框-->
<div class="am-modal am-modal-no-btn up-frame-bj " tabindex="-1" id="doc-modal-1">
    <div class="am-modal-dialog up-frame-parent up-frame-radius">
        <div class="am-modal-hd up-frame-header">
            <label>修改头像</label>
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd  up-frame-body">
            <div class="am-g am-fl">
                <div class="am-form-group am-form-file">
                    <div class="am-fl">
                        <button type="button" class="am-btn am-btn-default am-btn-sm">
                            <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                        </button>
                    </div>
                    <input type="file" id="inputImage">
                </div>
            </div>
            <div class="am-g am-fl">
                <div class="up-pre-before up-frame-radius">
                    <img alt="" src="" id="image">
                </div>
                <div class="up-pre-after up-frame-radius">
                </div>
            </div>
            <div class="am-g am-fl">
                <div class="up-control-btns">
                    <span class="am-icon-rotate-left" onclick="rotateimgleft()"></span>
                    <span class="am-icon-rotate-right" onclick="rotateimgright()"></span>
                    <span class="am-icon-check" id="up-btn-ok" url="admin/user/upload.action"></span>
                </div>
            </div>

        </div>
    </div>
</div>

<!--加载框-->
<div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="my-modal-loading">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">正在上传...</div>
        <div class="am-modal-bd">
            <span class="am-icon-spinner am-icon-spin"></span>
        </div>
    </div>
</div>

<!--警告框-->
<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">信息</div>
        <div class="am-modal-bd" id="alert_content">
            成功了
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/amazeui.min.js"></script>
<script src="~/Scripts/cropper.min.js"></script>
<script src="~/Scripts/custom_up_img.js"></script>*@